<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="SinoptikTestSuite" parallel="tests" thread-count="2">
    <test name="Test in Firefox" verbose="1" parallel="true">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.epam.serhii_potapov.seleniumWD.tests.SinoptikTest"/>
        </classes>
    </test>
    <test name="Test in Chrome" verbose="1" parallel="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.epam.serhii_potapov.seleniumWD.tests.SinoptikTest"/>
        </classes>
    </test>


</suite>